.container {
    height: 100vh;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    margin-bottom: 40px;
}

.container > form > input {
    padding: 20px;
    width: 70vw;
    border-radius: 9px;
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: -8vw;
}

.container > form > button {
    display: none;
}

.about {
    max-width: 40vw;
    margin: 70px auto;
    text-align: center;
}